/* 様々なページに使う部品のstyleを定義
navbar
footer
card
detail
など*/

/* font系・文字 */
@font-face {
    font-family: 'han-nom'; /* フォント名 */
    src: url('../font/Han-Nom Gothic 1.10.ttf') format('truetype'); /* フォーマットごとにパスを指定 */
  }
.kanji-text{
    font-family:"BIZ UDゴシック Regular",'han-nom';
}
.normal-text{
    font-family:'Kosugi Maru', sans-serif;
}
.viet-text{
    font-family:'Roboto Condensed',sans-serif;
}
.tag-text{
    font-family:'Kosugi Maru', sans-serif;
    color:#1a237e;
}


/* navbar */
#nav .logo{
    margin-left: 0.25rem;
    font-size:1.4rem;
}
#nav .nav-search-form{
    max-width:100px;
    min-width:40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#nav .nav-search-btn{
    height:38px;
    background-color:#ffc700;
    color: white;
    position:relative;
    right:3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 0px;
}

#nav .nav-text-login{
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.25rem 0.25rem 0 0.25rem;
    font-size:0.9rem;
}
#nav .nav-text-signup{
    background-color:#ff7043;
    color:white;
    border-radius: 5px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
    font-size:1.0rem;
}

/* footer */
#footer{
    background-color: black;
    width:100%;
    position: absolute;
    bottom:0;
    margin-top: 0.75rem;
    padding: 0.5rem;
    border-radius: 0;
}
#footer .footer-container{
    margin:0 auto;
}
#footer .footer-block1{
    width:170px;
    text-align:center;
}
#footer .footer-logo1{
    color:#ffa726;
    margin-bottom:0;
}
#footer .footer-logo2{
    color: #6c757d; /* text-muted */
    font-size:0.8rem;
    margin-top: 0;
    padding-top: 0;
}
#footer .footer-block2{
    font-size:0.8rem;
    width:170px;
    text-align: center;
    padding: 0.5rem;
}
#footer .footer-block3{
    font-size:0.8rem;
    width:170px;
    text-align: center;
    padding: 0.5rem;
}
#footer .footer-bottom{
    margin: 0 auto;
}

/* 中央寄せ */
.centered-block{
    max-width:30rem;
    margin: 0 auto;
}

/* article系 */
.article h5{
    border-bottom: 1px solid #ffa726;
    border-left: 4px solid #ffa726;
}
.article p{
    line-height:1.8;
}

/* ボタン系 色だけ定義*/
 .home-btn{
    background-color:#ffa726;
    color:white;
    border-style:none;
}
.home-button-transparent{ /*まだどこかで使ってるの？*/
    border: 1px solid #ffa726;
    border-radius:4px;
    color:#ffa726;
    padding:0px 8px 4px 8px;
    display:inline-block;
}
.login-button{
    background-color: white;
    color:#ffa726;
    border-style:solid;
    border-color:#ffa726;
}
.search-button{
    background-color:#ffc700;
    color:white;
    border-style:none;
    /* border-radius: 3px; */
}
.signup-button{
    background-color:#ff7043;
    color:white;
}
.primary-btn{
    background-color: #4285F4;
    color:white;
}
.primary-btn-transparent{
    border: 1px solid #4285F4;
    color:#4285F4;
}
.success-btn-transparent{
    background-color: transparent;
    color:#00C851;    
    border: 1px solid #00C851;
    border-radius:4px;
}
.muted-btn-transparent{
    background-color: transparent;
    color:#6c757d;    
    border: 1px solid #6c757d;
}

/* ボタン  形を定義*/
.btn-recommend{
    border-radius: 5px;
    padding: 0.5rem 0.75rem ;
    margin: 0.5rem;
    display:inline-block;
    font-size:1.2rem
}
.modal-close-btn{
    border-radius: 4px;
    padding: 0 0.5rem 0 0.5rem;
    display: inline-block;
}




/* 可変テキスト */
.sizable-text-small{
    font-size: calc(1.2rem + ((1vw - 0.64rem) * 0.7143));
  }
 .sizable-text-middle{
    font-size: calc(1.6rem + ((1vw - 0.64rem) * 1.13));
  }
.sizable-text-large{
    font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));
  }

/* 問い合せフォーム */
.contact-textarea{
    height: 200px;
}

/* 単語カード */
.card-word .word-name{
    color: #262626;
    background-color: #fff59d;
    padding-right:6px;
    padding-left:6px;
    margin-right:-6px;
    border-radius:8px;
}
.card-word{
    max-width: 30rem;
    background-color: white;
    margin: 0 0 0.25rem 0;
    padding: 0.25rem 0.75rem 0.25rem 0.25rem;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #AAAAAA;
}
.card-word .kanji-box{
    width:1.0rem;
    margin: 0 auto;
}
.card-word .kanji{
    color: #2196f3;
    font-size: 1.5rem;
    padding: 0.25rem 0 0 0;
    margin: 0.25rem 0.25rem 0 0;
}
.card-word .jp{
    color:#262626;
    text-align: left;
    font-size:1.0rem;
    white-space: pre-line;
}
.card-word .right-half{
    width:50%;
    padding: 0.25rem 0 0 0.5rem;
    border-left: 1px solid #CCCCCC;
}

.card-word .lower-left-half{
    width:50%;
    padding-left:0.25rem;
}
.card-word .upper-left-half{
    width:50%;
    padding-left:0;
}

/* 単語詳細カード */
#card-detail{
    background-color:white;
    color: #262626;
    margin-bottom: 0.5rem;
    padding: 0 0.75rem 0.25rem 0.25rem;
    border-radius:8px;
    box-shadow: 0px 2px 5px #AAAAAA;
}
#card-detail .label-text-vn{
    height:40px;
    padding-top: 0.5rem;
    text-align:right;
    width:70px;
    font-size:0.7rem;
    margin:0;
    padding-top:16px;

}
#card-detail .label-text-kanji{
    height:40px;
    text-align:right;
    width:70px;
    font-size:0.8rem;
    margin:0;
    padding-top:8px;
}
#card-detail .detail-word-text{
    height:40px;
    width:100%;
    font-size:1.9rem;
    margin: 0 auto;
    padding: 0 0.25rem 0 0.25rem;
}
#card-detail .detail-kanji-box{
    width:30px;
    margin: 0 auto;
}
#card-detail .detail-kanji-text{
    color: #2196f3;
    font-size:1.5rem;
    padding: 0.25rem;
    margin: 0.25rem 0.25rem 0 0;
}
#card-detail .pronunciation-block{
    max-width:320px;
    font-size:0.8rem;
    color:#aa66cc;
    border: 1px solid #aa66cc;
    border-radius: 5px;
    margin: 0 0 0.5rem 0.5rem;
    padding-left: 0.25rem;
}
#card-detail .pronunciation-text{
    text-align:left;
    margin-bottom: 0;
    padding-bottom: 0;
}
#card-detail .pronunciation-control{
    height:30px;
    width:270px;
}
#card-detail .jp-block{
    margin-top: 0.5rem;
    white-space: pre-line;
}
#card-detail .label-text-jp{
    width:70px;
    text-align:right;
    font-size:0.8rem;
    padding-top: 0.35rem;
}
#card-detail .text-jp{
    font-size:1.2rem;
}
#card-detail .image-block{
    width:190px;
    margin: 0.5rem 0 0.5rem 0;
}
#card-detail .image-block-square{
    width:180px;
    margin: 0.5rem 0 0 0.5rem;
    padding-left: 0.25rem;
    border: 1px solid #00C851;
    border-radius: 5px;
}
#card-detail .level-label{
    width: 70px;
    text-align:right;
    font-size:0.8rem;
    padding-top: 0.25rem;
}
#card-detail .image-text{
    font-size:0.8rem;
}
#card-detail .image-icon{
    font-size:2.0rem;
}
#card-detail .image-annotation{
    font-size:0.8rem;
    color: #888888;
    float:right;
}
/* 単語詳細ページ */
.jp-detail{
    background-color:white;
    color: #262626;
    padding: 0.5rem;
    border-radius:8px;
    box-shadow: 0px 2px 5px #AAAAAA;
}

/* 自己申告ボタン色 */
.confidence-btn-color0{
    background-color: #ffcdd2;/*red lighten-4 */
}
.confidence-btn-color1{
    background-color: #ffecb3;/*amber lighten-4 */
}
.confidence-btn-color2{
    background-color: #f0f4c3;/*lime lighten-4 */
}
.confidence-btn-color3{
    background-color: #c8e6c9;/*green lighten-4 */
}
.confidence-btn-color-1{
    background-color: #eceff1;/*blue-grey lighten-5 */
}