/* users.showのstyle */

#user .progress-card-body{
    padding: 0 0.5rem 0.5rem 0;
}
#user .table-header{
    font-size:1.0rem; 
    text-align:center; 
}
#user .table-header-progress{
    min-width:70px;
}
#user .table-text{
    font-size:1.2rem; 
    text-align:center;
}
#user .detail-btn{
    height:30px;
    width:100%; 
    min-width:30px;
    max-width:60px; 
    font-size:0.9rem; 
    text-align:center;
    padding-top: 0.25rem;
    border-radius: 5px;
}
#user .play-btn{
    height:30px;
    width:100%; 
    min-width:30px;
    max-width:60px; 
    font-size:1.0rem; 
    text-align:center;
    padding-top: 0.125rem;
    margin-left: 0.25rem;
    border-radius: 5px;
}
#user .level-table-btn{
    height:30px;
    font-size:1.0rem;
    padding:0 0.75rem 0 0.75rem;
    
    border-radius:5px;
    border-width:1px;
    display:inline-block;
}
#user .reviewall-btn{
    max-width:230px; 
    font-size:1.2rem; 
    text-align:center; 
    border-radius:5px;
    margin: 0.5rem 0 0.5rem auto;
    padding:0.5rem;
    box-shadow: 0px 2px 5px #AAAAAA;
}

#user .schedule-graph{
    height:150x; 
    width:1240px; 
    border:1px solid #F0F0F0; 
    position:relative; 
    margin-top:13px;    
}
#user .word-number-label{
    font-size: 12px;
    line-height: 25px;
    text-align: right;
    padding: 0 10px 0 0;
}
#user .word-number-rule{
    border: none;  
    position: absolute;  
    width: 100%;  
    height: 1px;  
    margin: 0 auto;  
    background: #F0F0F0;
}
#user .schedule-bar{
    background-color: #f48fb1;
    float: left;  
    text-align: center;  
    position: relative;  
    margin-left: 5px;  
    width: 15px;
}
#user .date-label{
    font-size: 12px;  
    margin-left: 5px; 
    line-height:14px; 
    width: 15px;  
    text-align: center;  
    padding-top: 6px;
}

#user .confidence-btn{
    width:70px; 
    height:23px;
    font-size:0.9rem;
    color: #262626;
    text-align:center;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #AAAAAA;
    display:inline-block;
}
