/* search, word.showで使うstyle */

.container-search{
    max-width:850px;
}
.card-search{
    max-width: 30rem;
    background-color: white;
    color: #262626;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0.5rem auto 0.75rem auto;
    border-radius:8px;
    box-shadow: 0px 2px 5px #AAAAAA;
}
.search-button-card-search{
    font-size: large;
    margin: 0 0 0 0.5rem;
    padding: 0.25rem 0.75rem;
}
.search-message{
    padding: 0;
    margin: 0;
    text-align:center;
}

/* 関連語などのグループ化 */
.grouping-square{
    /* color:#ffa726; */
    margin:0.75rem auto 0.25rem auto;
    padding: 0 0.5rem 0.25rem 0.5rem ;
    border: 2px solid #ffa726;
    border-radius:10px;
    max-width:30rem;
}

.grouping-square-orange-filled{
    color:white;
    background-color:#ffa726;
}
.grouping-square-orange{
    color:#ffa726;
    border: 2px solid #ffa726;
}
.grouping-square-primary{
    color:#4285F4;
    border: 2px solid #4285F4;
}
.grouping-square-danger{
    color:#ff4444;
    border: 2px solid #ff4444;
}
.grouping-square-info{
    color:#33b5e5;
    border: 2px solid #33b5e5;
}
.grouping-square-success{
    color:#00C851;
    border: 2px solid #00C851;
}

.grouping-label{
    font-size:1.2rem;
}
.tag-search-btn-block{
    text-align:center
}
.search-button-normal{
    margin: 0.75rem auto;
    padding: 0.5rem 0.75rem;
    box-shadow: 0px 2px 5px #AAAAAA;
    display:inline-block;
}

/* セルフ広告 */
.self-ad-outer-square{
    max-width: 450px;
    background-color:#ffa726;
    color:white;
    text-align:center;
    padding-bottom: 0.25rem;
    margin:0.75rem auto 0.25rem auto;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #AAAAAA;
}
.self-ad-inner-square{
    background-color: white;
    color: #ffa726;
    margin: 0 0.5rem 0.25rem 0.5rem;
    border-radius:5px;
}

/* 検索機能の使い方 */
.search-description-image-container{
    border: 1px solid #CCCCCC;
    margin: 0 0.25rem;
    /* display:inline-block; */
}
.search-description-image{
    height:300px;
    width:300px;
    border: 1px solid #262626;
    margin: 0.25rem;
}
.modal-dialog{
    max-width:1050px;
}

/* categories */
.category-card-list{
    list-style-type: none;
    padding-left:0;
    text-align:center;
    margin:0 auto;
}
.category-card{
    width:280px;
    height:250px;
    background-color:white;
    margin: 0.25rem;
    padding: 0.25rem;
    display:inline-block;
    position:relative;
    text-align: left;
    border-radius:4px;
    box-shadow: 0px 2px 5px #AAAAAA;
}
.category-ad-card{
    width:280px;
    height:250px;
    background-color:white;
    margin: 0.25rem;
    padding: 0.25rem;
    display:inline-block;
    position:relative;
    text-align: left;
    border-radius:4px;
    box-shadow: 0px 2px 5px #AAAAAA;
}